body { background: #52fdad; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-cache-0 { color: #76f279; font-size: 18px; margin-bottom: 5px; }
.block-shipping-1 { color: #9c153e; font-size: 15px; margin-bottom: 5px; }
.block-sms-2 { color: #ac2283; font-size: 19px; margin-bottom: 5px; }
.block-order-3 { color: #799d1a; font-size: 17px; margin-bottom: 5px; }
.block-cart-4 { color: #3fd430; font-size: 16px; margin-bottom: 5px; }
.block-router-5 { color: #ef236d; font-size: 15px; margin-bottom: 5px; }
.block-uploader-6 { color: #ccbdad; font-size: 17px; margin-bottom: 5px; }
.block-config-7 { color: #8e4ab0; font-size: 17px; margin-bottom: 5px; }